In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso 
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('StudentsPerformance.csv')

In [3]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [4]:
df.shape

(1000, 8)

In [5]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [8]:
df=pd.get_dummies(df,drop_first=True)
df.head()

,math score,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
0,72,72,74,False,True,False,False,False,True,False,False,False,False,True,True
1,69,90,88,False,False,True,False,False,False,False,False,True,False,True,False
2,90,95,93,False,True,False,False,False,False,False,True,False,False,True,True
3,47,57,44,True,False,False,False,False,False,False,False,False,False,False,True
4,76,78,75,True,False,True,False,False,False,False,False,True,False,True,True

In [9]:
df.shape

(1000, 15)

In [10]:
df['mean score']=((df['math score']+df['reading score']+df['writing score'])/3).round()

In [11]:
df.head()

,math score,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none,mean score
0,72,72,74,False,True,False,False,False,True,False,False,False,False,True,True,73.0
1,69,90,88,False,False,True,False,False,False,False,False,True,False,True,False,82.0
2,90,95,93,False,True,False,False,False,False,False,True,False,False,True,True,93.0
3,47,57,44,True,False,False,False,False,False,False,False,False,False,False,True,49.0
4,76,78,75,True,False,True,False,False,False,False,False,True,False,True,True,76.0

In [12]:
x=df.drop('mean score',axis=1)
y=df['mean score']

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [95]:
clf=Lasso()
clf.fit(x_train,y_train)

Lasso()

In [96]:
clf.score(x_test,y_test)

0.9996246170186796

In [97]:
clf.score(x_train,y_train)

0.9996174742762106